 <div class="pane-content">
	<div class="">      
		<div class="panel-pane pane-views pane-customers row clearfix" id="clientarea">
			<div class="pane-content">
				<div class="view view-customers view-id-customers view-display-id-block_2 view-dom-id-b1689be1a6c86a51fc95f1ca4b14850e">
					<div class="view-content col-md-12 column">
						<div id="clientarea-carousal" class="carousel slide" data-ride="carousel" data-interval="false">
							<div class="client-slide">
								<div class="client_data">
									<div class="client_content">
										<div class="arrow_left">
											<a href="#clientarea-carousal" role="button" data-slide="prev"><br>
												<%= image_tag 'arrow_left.png' %><br>
											</a>
                                        </div>
                                        <div class="arrow_right">
											<a href="#clientarea-carousal" role="button" data-slide="next"><br>
												<%= image_tag 'arrow_right.png' %><br>
                                            </a>
                                        </div>
                                        <div class="main_content_slider_wrapper">
											<div class="carousel-inner anim content-slider-wrapper " role="listbox">
												<% data.SmartShift.Clients.each do |id, article| %>
													<% if article.title == 'RUDOLF TREMMEL' %>
													<div class="item active">
													<% else %>
													<div class="item">
													<% end %>
														<div class="circle_slider_text_wrapper">
															<% if !article.image.empty? %>
																<%= image_tag article.image.url %>
															<% end %>
															<h3><%= article["title"] %><br><p><%= article["role"] %></p></h3>
															<div class="client_desc"><%= article["description"] %></div>
														</div>    
													</div>
												<% end %>
													</div>
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>  
                </div>
            <div>
        </div>  
    </div>
</div>