<div id="slidemenu">
	<div class="region region-navigation">
		<div id="block-menu-block-5" class="block block-menu-block">
			<div class="content">
				<div class="menu-block-wrapper menu-block-5 menu-name-main-menu parent-mlid-0 menu-level-1">
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to("Why smartshift", "/") %></li>
						<li><%= link_to("Our Solutions", "/our-solution.html") %></li>
						<li><%= link_to("How we work", "/how-we-work.html") %></li>
						<li><%= link_to("About Us", "/about.html") %></li>
						<li><%= link_to("Contact", "/contact.html") %></li>
						<li><%= link_to("Login", "https://smartshiftme.com/saasapp/login.jsp", :target => "_blank", :class => "boxlink") %></li>
						<li id="callusbt" class="active"><a data-toggle="modal" data-target="#basicModal" class="boxlink2" href="#"> Request Call </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="clear"></div>
</div>
							