---
title: Welcome to SmartShift
---

<div class="downarrow" style="display: block;">
    <a href="javascript:void(0)">
        <%= image_tag 'arrow_down.png' %>
    </a>
</div>

<div id="slide-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <% link_to '/' ,  :class => 'navbar-brand' do %>
            <%= image_tag 'logo.png' %>
            <% end %>

        </div>
        <div id="slidemenu">
            <div class="region region-navigation">
                <div id="block-menu-block-5" class="block block-menu-block">
                    <div class="content">
                        <div class="menu-block-wrapper menu-block-5 menu-name-main-menu parent-mlid-0 menu-level-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="source/images/Enterprise Software Management and Consolidation _ smartShift.html" class="active">Why smartshift</a></li>
                                <li><a href="http://www.smartshifttech.com/solutions">Our Solutions</a></li>
                                <li><a href="http://www.smartshifttech.com/how-we-work">How we work</a></li>
                                <li><a href="http://www.smartshifttech.com/about-us">About Us</a></li>
                                <li><a href="http://www.smartshifttech.com/contact">Contact</a></li>
                                <li><a href="https://smartshiftme.com/saasapp/login.jsp" class="boxlink GoogleAnalyticsET-processed" target="_blank">Login</a></li>
                                <li id="callusbt" class="active"><a data-toggle="modal" data-target="#basicModal" class="boxlink2 GoogleAnalyticsET-processed" href="http://www.smartshifttech.com/#"> Request Call </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="container-main">
    <div class="region region-content">
        <div id="block-system-main" class="block block-system">
            <div class="content">
                <div class="panel-flexible clearfix">
                    <div class="panel-flexible-inside panels-flexible-10-inside">
                        <div class="panels-flexible-region panels-flexible-region-10-solutions_services_region panels-flexible-region-first panels-flexible-region-last ">
                            <div class="inside panels-flexible-region-inside panels-flexible-region-10-solutions_services_region-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                                <div class="panel-pane pane-panels-mini pane-animations page-content" id="page-content">
                                    <div class="pane-content">
                                        <div class="panel-flexible panels-flexible-47 clearfix" id="mini-panel-animations">
                                            <div class="panel-flexible-inside panels-flexible-47-inside">
                                                <div class="panels-flexible-row panels-flexible-row-47-main-row panels-flexible-row-first clearfix">
                                                    <div class="inside panels-flexible-row-inside panels-flexible-row-47-main-row-inside panels-flexible-row-inside-first clearfix">
                                                        <div class="panels-flexible-region panels-flexible-region-47-center panels-flexible-region-first panels-flexible-region-last textcontainer">
                                                            <div class="inside panels-flexible-region-inside panels-flexible-region-47-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                                                                <div class="">      
                                                                    <div class="panel-pane pane-dsc texts" style="margin-top: -50px; opacity: 0;">
                                                                        <div class="pane-content">
                                                                            <h1 class="first">Leading the <span>enterprise software management</span> revolution.</h1>
                                                                            <div class="small_h2">Through our innovation in automation, we have radically changed the way you transform and manage your enterprise systems.</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel-pane pane-dsc texts style2" style="margin-top: -50px; opacity: 0;">
                                                                        <div class="pane-content">
                                                                            <h2 class="big">Your enterprise portfolio is a challenge to manage and maintain:</h2>
                                                                            <div id="sixa6" class="home-slide-content">
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle1.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">High costs</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle2.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">Business risks</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle3.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">Long timelines</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle4.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">Security issues</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle5.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">Degrading quality</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle6.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">Aging infrastructure</div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel-pane pane-dsc texts" style="margin-top: -50px; opacity: 0;">
                                                                        <div class="pane-content">
                                                                            <h2 class="screen-wdth">smartShift’s unique, <span>patented automation technology</span> will help you dramatically reduce the risks, costs, quality issues and cycle times (from years to weeks) associated with <span>complex IT transformations.</span></h2>  
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel-pane pane-dsc texts" style="margin-top: -50px; opacity: 0;">
                                                                        <div class="pane-content">
                                                                            <h2 class="big">We help organizations like yours <span>optimize customized systems</span> with a variety of transformations, including on-premise to cloud, relational data to big data and platform-to-platform.</h2>  
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel-pane pane-dsc texts style2" style="margin-top: -50px; opacity: 0;">
                                                                        <div class="pane-content">
                                                                            <h2 class="screen-5">We offer our customers service-level assurance that their code and configuration will be:</h2>
                                                                            <div id="hexa5" class="home-slide-content">
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg"><%= image_tag 'poly1.png' %></div>
                                                                                    <div class="htitle">Secure</div>
                                                                                    <div class="hdesc">Free from known issues in the code base</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg"><%= image_tag 'poly2.png' %></div>
                                                                                    <div class="htitle">Performing</div>
                                                                                    <div class="hdesc">In compliance with industry and platform best practices</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg"><%= image_tag 'poly3.png' %></div>
                                                                                    <div class="htitle">Standard</div>
                                                                                    <div class="hdesc">Aligned to conventions and optimized for maintenance ease </div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg"><%= image_tag 'poly4.png' %></div>
                                                                                    <div class="htitle">Compliant</div>
                                                                                    <div class="hdesc">Always compatible with vendor versions and upgrades</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg"><%= image_tag 'poly5.png' %></div>
                                                                                    <div class="htitle">Portable</div>
                                                                                    <div class="hdesc">Designed to easily move between platforms and configurations</div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel-pane pane-dsc texts dark" style="margin-top: 0px; opacity: 1;">
                                                                        <div class="pane-content">
                                                                            <h2 class="screen-wdth">Whatever challenges your enterprise is facing, smartShift’s technology-enabled services and expert team will <span>transform your enterprise rapidly, predictably, and accurately.</span></h2>  
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panels-flexible-row panels-flexible-row-47-1 panels-flexible-row-last clearfix ">
                                                    <div class="inside panels-flexible-row-inside panels-flexible-row-47-1-inside panels-flexible-row-inside-last clearfix">
                                                        <div class="panels-flexible-region panels-flexible-region-47-animation panels-flexible-region-first panels-flexible-region-last wrapper fixedSection hidden-xs">
                                                            <div class="inside panels-flexible-region-inside panels-flexible-region-47-animation-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                                                                <div class="">      
                                                                    <div class="panel-pane pane-dsc row clearfix" id="fixedbg">
                                                                        <div class="pane-content">
                                                                            <div class="col-md-12 column">
                                                                                <div id="bannerarea_home1" class="row clearfix slide" style="height: 623px;">
                                                                                    <div class="arrowbg"></div>
                                                                                </div>
                                                                                <div id="bannerarea_home2" class="row clearfix slide" style="height: 623px;">&nbsp;</div>
                                                                                <div id="bannerarea_home3" class="row clearfix slide" style="height: 623px;">&nbsp;</div>
                                                                                <div id="bannerarea_home4" class="row clearfix slide" style="height: 623px;">&nbsp;</div>
                                                                                <div id="bannerarea_home5" class="row clearfix slide" style="height: 623px;">&nbsp;</div>
                                                                                <div id="bannerarea_home6" class="row clearfix slide" style="height: 623px;">&nbsp;</div>
                                                                                <div id="bannerarea_home7" class="row clearfix slide" style="height: 415px;">&nbsp;</div>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-separator"></div>
                                <div class="panel-pane pane-dsc row clearfix" id="gcsc_2col">
                                    <div class="pane-content">
                                        <div class="col-md-6 column whitecol nopadding">
                                            <div class="getclean">
                                                <h2>Get clean</h2>
                                                <ul>
                                                    <li>Lower your enterprise TCO</li>
                                                    <li>Modernize core systems and optimize application performance</li>
                                                    <li>Retire old and expensive systems and hardware</li>
                                                    <li>Consolidate and integrate for mergers and acquisitions</li>
                                                    <li>Migrate to the cloud</li>
                                                    <li>Leverage big data</li>
                                                </ul>
                                                <a class="readmore_style1" href="http://www.smartshifttech.com/node/128">EXPLORE OUR SOLUTIONS</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="col-md-6 column bluecol nopadding">
                                            <div class="stayclean">
                                                <h2>Stay clean</h2>
                                                <ul>
                                                    <li>Reduce "lights-on" IT resource burden</li>
                                                    <li>Maintain portability for your key systems</li>
                                                    <li>Migrate to customized, more efficient infrastructure</li>
                                                    <li>Ensure ongoing standards compliance</li>
                                                    <li>Improve development team effectiveness</li>
                                                </ul>
                                                <a class="readmore_style4" href="http://www.smartshifttech.com/node/129">LEARN MORE</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-separator"></div>
                                <div class="panel-pane pane-panels-mini pane-customer-slider">
                                    <div class="pane-content">
                                        <div class="">      
                                            <div class="panel-pane pane-views pane-customers row clearfix" id="clientarea">
                                                <div class="pane-content">
                                                    <div class="view view-customers view-id-customers view-display-id-block_2 view-dom-id-b1689be1a6c86a51fc95f1ca4b14850e">
                                                        <div class="view-content col-md-12 column">
                                                            <div id="clientarea-carousal" class="carousel slide" data-ride="carousel" data-interval="false">
                                                                <div class="client-slide">
                                                                    <div class="client_data">
                                                                        <div class="client_content">
                                                                            <div class="arrow_left">
                                                                                <a href="http://www.smartshifttech.com/#clientarea-carousal" role="button" data-slide="prev"><br>
                                                                                    <%= image_tag 'arrow_left.png' %><br>
                                                                                </a>
                                                                            </div>
                                                                            <div class="arrow_right">
                                                                                <a href="http://www.smartshifttech.com/#clientarea-carousal" role="button" data-slide="next"><br>
                                                                                    <%= image_tag 'arrow_right.png' %><br>
                                                                                </a>
                                                                            </div>
                                                                            <div class="main_content_slider_wrapper">
                                                                                <div class="carousel-inner anim content-slider-wrapper " role="listbox">
                                                                                    <div class="active item ">
                                                                                        <div class="circle_slider_text_wrapper">
                                                                                            <%= image_tag 'logo_bmw_3.png' %>
                                                                                            <h3>RUDOLF TREMMEL<br><p>SAP HR Project Manager at BMW</p></h3>
                                                                                            <div class="client_desc">"The use of the smartShift solutions for our SAP upgrade project, including the code optimization, enabled us to achieve a high quality outcome and significantly reduce the project’s runtime. smartShift improved our ability to consistently manage cost and project risk due to the speed and accuracy of their code."</div>
                                                                                        </div>    
                                                                                    </div>
                                                                                    <div class="item ">
                                                                                        <div class="circle_slider_text_wrapper">
                                                                                            <%= image_tag 'logo_sihi.png' %>
                                                                                            <h3>JACKY KUGLER<br><p>Head of Department Systems, Networks and Backoffice Automation Sterling SIHI GmbH </p></h3>
                                                                                            <div class="client_desc">"smartShift was an essential component that allowed us to fulfill our Unicode migration project on time and on budget, instead of handling potential risks going with the manual approach. The high quality and very low testing efforts contributed to an overall project success."</div>
                                                                                        </div>    
                                                                                    </div>
                                                                                    <div class="item ">
                                                                                        <div class="circle_slider_text_wrapper">
                                                                                            <%= image_tag 'Quote%20unknown%20icon.png' %>
                                                                                            <h3><br><p>CIO for Global Energy Company</p></h3>
                                                                                            <div class="client_desc">"In less than three weeks, smartShift automatically uncovered and fixed 99.6% of 425,558 ABAP issues. This eliminated months of manual coding and testing from our SAP release and Unicode upgrade. Plus, we saw dramatic gains in our SAP system performance."</div>
                                                                                        </div>    
                                                                                    </div>
                                                                                    <div class="item ">
                                                                                        <div class="circle_slider_text_wrapper">
                                                                                            <%= image_tag 'Quote%20unknown%20icon.png' %>
                                                                                            <h3>Bradley Case<br><p>Chief Development Officer, Symphony Corporation</p></h3>
                                                                                            <div class="client_desc">"We were on a very tight timeline to make our AWS environment HIPAA compliant.  smartShift delivered on all the requirements and executed their professional services over a weekend to meet our deadline. They are customer service driven, responsive and professional.  All-in-all a great firm, I would recommend them to anyone."</div>
                                                                                        </div>    
                                                                                    </div>
                                                                                    <div class="item ">
                                                                                        <div class="circle_slider_text_wrapper">
                                                                                            <%= image_tag 'Quote%20unknown%20icon.png' %>
                                                                                            <h3>Derek Prior<br><p>Analyst at Gartner</p></h3>
                                                                                            <div class="client_desc">"Global rollouts of business applications, especially ERP, take several years to complete. But business leaders can't wait for these rollouts to finish before deploying new differentiating systems"</div>
                                                                                        </div>    
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>	
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="panel-separator"></div>
                                <div class="panel-pane pane-panels-mini pane-get-stay-clean row clearfix" id="gcsc">
                                    <div class="pane-content">
                                        <div class="panel-pane pane-dsc">
                                            <div class="pane-content">
                                                <div class="col-md-12 column">
                                                    <div class="gcsc_slide"><h2>Become part of the<br> smartShift revolution</h2>
                                                        <div class="gcsc_brief">
                                                            <p>Find out more about our automation approach and how it can transform enterprise software management for your organization.</p>
                                                        </div>
                                                        <a data-toggle="modal" data-target="#basicModal" class="btn btn-primary readmore_style3 GoogleAnalyticsET-processed" href="http://www.smartshifttech.com/#" role="button">REQUEST CALL</a>
                                                        <a class="btn btn-default readmore_style2" href="http://www.smartshifttech.com/node/130" role="button">GET IN TOUCH</a> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-separator"></div>
                                <div class="panel-pane pane-panels-mini pane-customers-slider row clearfix" id="keepup">
                                    <div class="pane-content">
                                        <div class="col-md-12 column">      
                                            <div class="panel-pane pane-views pane-homepage-keep-up-to-date keepup_slide">
                                                <h2 class="pane-title">Keep Up-to-date</h2>
                                                <div class="pane-content">
                                                    <div class="view view-homepage-keep-up-to-date view-id-homepage_keep_up_to_date view-display-id-page row view-dom-id-1bc7b32af6957299c724c308215fcf9f">
                                                        <div class="view-header">
                                                            <div class="keepup_brief">
                                                                Read the latest smartShift articles, learn about innovation updates, join a webinar or meet us at one of our events.
                                                            </div>
                                                        </div>
                                                        <div class="view-content">
                                                            <div class="views-row views-row-1 views-row-odd views-row-first">
                                                                <div class="views-field views-field-nothing">        
                                                                    <span class="field-content">
                                                                        <div class="col-md-3 col-sm-6">
                                                                            <div class="thumbnail" style="height: 608px;">
                                                                                <%= image_tag 'SAPPHIRE%202015%20-%20Text%20Box%20Image.png' %>
                                                                                <div class="caption">
                                                                                    <h3>Join Us on May 5-7 2015 in Orlando, Florida</h3>
                                                                                    <div class="keep_upto_date_desc">
                                                                                        <p>Talk to Us About a Faster Path to HANA Readiness &amp; Migration</p>
                                                                                        <p><strong>Our Speaker Session:</strong><br>May 5th at 12:30 pm ET<br>"Changes to Custom Development with the Advent of SAP HANA"</p>
                                                                                        <p>&nbsp;</p>
                                                                                        <p><strong>Book a Meeting</strong> at SAPPHIRE<br>smartShift or Talk to Us Today</p>
                                                                                        <p>&nbsp;</p>
                                                                                    </div>
                                                                                    <a href="http://info.smartshifttech.com/schedule-meeting-at-sapphire" class="readmore_style1 GoogleAnalyticsET-processed" target="_blank">Read More</a>                        
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>  
                                                                </div>  
                                                            </div>
                                                            <div class="views-row views-row-2 views-row-even">
                                                                <div class="views-field views-field-nothing">      
                                                                    <span class="field-content">
                                                                        <div class="col-md-3 col-sm-6">
                                                                            <div class="thumbnail" style="height: 608px;">
                                                                                <%= image_tag 'kutd1.jpg' %>
                                                                                <div class="caption">
                                                                                    <h3>Read 4 Compelling Reasons Why You Shouldn't Delay Implementation of SAP HANA</h3>
                                                                                    <div class="keep_upto_date_desc">
                                                                                        <p>There is a clear business case that justifies transforming your enterprise software with HANA; it’s a step that, with the right processes, will take performance to a new level and free up resources to tackle other priorities more effectively.</p>
                                                                                    </div>
                                                                                    <a href="http://info.smartshifttech.com/delaying-implementation-of-sap-hana-4-compelling-answers-to-change-your-mind" class="readmore_style1 GoogleAnalyticsET-processed" target="_blank">Read More</a>                        
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>  
                                                                </div>  
                                                            </div>
                                                            <div class="views-row views-row-3 views-row-odd">
                                                                <div class="views-field views-field-nothing">        
                                                                    <span class="field-content">
                                                                        <div class="col-md-3 col-sm-6">
                                                                            <div class="thumbnail" style="height: 608px;">
                                                                                <%= image_tag 'Stefan_Hetges.jpg' %>
                                                                                <div class="caption">
                                                                                    <h3>Advantages of Automated Modernization Every CIO Must Know</h3>
                                                                                    <div class="keep_upto_date_desc">
                                                                                        <p>For companies that rely on legacy SAP applications, legacy modernization is becoming more necessary than ever to maintain competitive advantage on new platforms and the cloud without losing already developed custom processes.</p>
                                                                                    </div>
                                                                                    <a href="http://info.smartshifttech.com/advantages-of-automated-modernization-every-cio-must-know" class="readmore_style1 GoogleAnalyticsET-processed" target="_blank">Read More</a>                        
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>  
                                                                </div>  
                                                            </div>
                                                            <div class="views-row views-row-4 views-row-even views-row-last">
                                                                <div class="views-field views-field-nothing">        
                                                                    <span class="field-content">
                                                                        <div class="col-md-3 col-sm-6">
                                                                            <div class="thumbnail" style="height: 608px;">
                                                                                <%= image_tag 'kutd3_1.jpg' %>
                                                                                <div class="caption">
                                                                                    <h3>White Paper - 8 Benefits of Automated Optimization of SAP HANA®</h3>
                                                                                    <div class="keep_upto_date_desc">
                                                                                        <p>Changing your database architecture requires changing your application architecture for optimum performance. But how do you do it when you are so pressed on time, budget, and other priorities?</p>
                                                                                    </div>
                                                                                    <a href="http://info.smartshifttech.com/white-paper-hana-automation" class="readmore_style1 GoogleAnalyticsET-processed" target="_blank">Read More</a>                        
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </span>  
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container-fluid">
            <div class="row footer_slide">
                <div class="region region-footer">
                    <div class="block block-block" id="block-block-19">
                        <div class="content clearfix">
                            <div class="region region-footer">	
                                <div id="block-panels-mini-smartshift-footer" class="block block-panels-mini">
                                    <div class="content">
                                        <div class="panel-pane pane-dsc col-md-4 col-sm-12 footer-logo custom-footer">
                                            <div class="pane-content">
                                                <div class="logo-part">
                                                    <%= image_tag 'logo.png' %>
                                                </div>
                                                <div class="logo-part-desc">Leading the enterprise software management revolution.</div>  
                                            </div>
                                        </div>
                                        <div class="panel-separator"></div>
                                        <div class="panel-pane pane-block pane-menu-menu-footer-navigate col-md-2 col-sm-3 footer-navigate custom-footer pane-menu">
                                            <div class="pane-content">
                                                <div class="footer_title">Navigate</div>
                                                <ul class="footer-navigation">
                                                    <li class="active"><a href="source/images/Enterprise Software Management and Consolidation _ smartShift.html" class="active">Why smartShift</a></li>
                                                    <li><a href="http://www.smartshifttech.com/solutions">Our Solutions</a></li>
                                                    <li><a href="http://www.smartshifttech.com/how-we-work">How We Work</a></li>
                                                    <li><a href="http://www.smartshifttech.com/about-us">About Us</a></li>
                                                    <li><a href="http://www.smartshifttech.com/contact">Contact</a></li>
                                                    <li><a href="https://smartshiftme.com/saasapp/login.jsp" target="_blank">Login</a></li>
                                                    <li><a href="http://www.smartshifttech.com/contact#careers">Careers</a></li>
                                                </ul>  
                                            </div>
                                        </div>
                                        <div class="panel-separator"></div>
                                        <div class="panel-pane pane-block pane-menu-menu-footer-connect col-md-2 col-sm-3 footer-connect custom-footer pane-menu">
                                            <div class="pane-content">
                                                <div class="footer_title">Connect</div>
                                                <ul class="footer-navigation">
                                                    <li><a href="https://www.linkedin.com/company/smartshift-technologies" target="_blank">Linkedin</a></li>
                                                    <li><a href="https://twitter.com/smartShiftTech" target="_blank">Twitter</a></li>
                                                    <li><a href="https://www.youtube.com/user/smartShiftgroup" target="_blank">Youtube</a></li>
                                                </ul>  
                                            </div>
                                        </div>
                                        <div class="panel-separator"></div>
                                        <div class="panel-pane pane-dsc col-md-2 col-sm-3 footer-callus custom-footer">
                                            <div class="pane-content">
                                                <div class="footer_title">Call us</div>							
                                                <ul class="footer-navigation">
                                                    <li>USA &amp; the Americas <br>
                                                        +1 (917) 793 2500 <br>
                                                        <span class="bootm-seperator">&nbsp;</span>
                                                        Rest of the World<br>
                                                        +49 (621) 400 676 000
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-separator"></div>
                                        <div class="panel-pane pane-block pane-menu-menu-footer-legal col-md-2 col-sm-3 footer-legal custom-footer pane-menu">
                                            <div class="pane-content">
                                                <div class="footer_title">Legal</div>
                                                <ul class="footer-navigation">
                                                    <li><a href="http://www.smartshifttech.com/terms-use">Terms of Use</a></li>
                                                    <li><a href="http://www.smartshifttech.com/privacy-policy">Privacy Policy</a></li>
                                                </ul>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="region region-copyrights">
                        <div id="block-panels-mini-copyrights" class="block block-panels-mini">
                            <div class="content">
                                <div class="panel-pane pane-dsc">
                                    <div class="pane-content">© 2015 smartShift Technologies Inc.  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade callback" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="webform-ajax-wrapper-1">
                        <form class="webform-client-form webform-client-form-1" enctype="multipart/form-data" action="source/images/Enterprise Software Management and Consolidation _ smartShift.html" method="post" id="webform-client-form-1" accept-charset="UTF-8" novalidate="novalidate">
                            <div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-item webform-component webform-component-markup webform-component--header">
                                        <div class="col-md-12 col-sm-12">
                                            <h2 class="page-header">Request Call</h2>                 
                                            <p class="contact-header-text">Fill out the form and a smartShift consultant will get in touch with you within 24 hours. Whether you’re seeking advice, interested in a demo or ready for your next IT transformation, we’re here to help.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 form-item webform-component webform-component-textfield webform-component--first-name">
                                            <label class="element-invisible" for="edit-submitted-first-name">First name <span class="form-required" title="This field is required.">*</span></label>
                                            <input placeholder="FIRST NAME" class="form-control form-text required" type="text" id="edit-submitted-first-name" name="submitted[first_name]" value="" size="60" maxlength="40">
                                        </div>
                                        <div class="col-md-6 col-sm-6 form-item webform-component webform-component-textfield webform-component--last-name">
                                            <label class="element-invisible" for="edit-submitted-last-name">Last name <span class="form-required" title="This field is required.">*</span></label>
                                            <input placeholder="LAST NAME" class="form-control form-text required" type="text" id="edit-submitted-last-name" name="submitted[last_name]" value="" size="60" maxlength="40">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 form-item webform-component webform-component-textfield webform-component--company-name">
                                            <label class="element-invisible" for="edit-submitted-company-name">Company name <span class="form-required" title="This field is required.">*</span></label>
                                            <input placeholder="COMPANY NAME" class="form-control form-text required" type="text" id="edit-submitted-company-name" name="submitted[company_name]" value="" size="60" maxlength="128">
                                        </div>
                                        <div class="col-md-6 col-sm-6 form-item webform-component webform-component-textfield webform-component--job-title">
                                            <label class="element-invisible" for="edit-submitted-job-title">Job title <span class="form-required" title="This field is required.">*</span></label>
                                            <input placeholder="JOB TITLE" class="form-control form-text required" type="text" id="edit-submitted-job-title" name="submitted[job_title]" value="" size="60" maxlength="128">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 form-item webform-component webform-component-email webform-component--your-email">
                                            <label class="element-invisible" for="edit-submitted-your-email">Corporate email <span class="form-required" title="This field is required.">*</span></label>
                                            <input class="email form-control form-text form-email required" placeholder="CORPORATE EMAIL " type="email" id="edit-submitted-your-email" name="submitted[your_email]" size="60">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 form-item webform-component webform-component-textfield webform-component--phone-number">
                                            <label class="element-invisible" for="edit-submitted-phone-number">Phone number <span class="form-required" title="This field is required.">*</span></label>
                                            <input placeholder="PHONE NUMBER" class="form-control form-text required" type="text" id="edit-submitted-phone-number" name="submitted[phone_number]" value="" size="60" maxlength="128">
                                        </div>
                                        <div class="col-md-6 col-sm-6 form-item webform-component webform-component-select webform-component--country">
                                            <label class="element-invisible" for="edit-submitted-country">Country <span class="form-required" title="This field is required.">*</span></label>
                                            <select class="form-control form-select required" id="edit-submitted-country" name="submitted[country]"><option value="" selected="selected">COUNTRY</option><option value="AF">Afghanistan</option><option value="AX">Aland Islands</option><option value="AL">Albania</option><option value="DZ">Algeria</option><option value="AS">American Samoa</option><option value="AD">Andorra</option><option value="AO">Angola</option><option value="AI">Anguilla</option><option value="AQ">Antarctica</option><option value="AG">Antigua and Barbuda</option><option value="AR">Argentina</option><option value="AM">Armenia</option><option value="AW">Aruba</option><option value="AU">Australia</option><option value="AT">Austria</option><option value="AZ">Azerbaijan</option><option value="BS">Bahamas</option><option value="BH">Bahrain</option><option value="BD">Bangladesh</option><option value="BB">Barbados</option><option value="BY">Belarus</option><option value="BE">Belgium</option><option value="BZ">Belize</option><option value="BJ">Benin</option><option value="BM">Bermuda</option><option value="BT">Bhutan</option><option value="BO">Bolivia</option><option value="BA">Bosnia and Herzegovina</option><option value="BW">Botswana</option><option value="BV">Bouvet Island</option><option value="BR">Brazil</option><option value="IO">British Indian Ocean Territory</option><option value="VG">British Virgin Islands</option><option value="BN">Brunei</option><option value="BG">Bulgaria</option><option value="BF">Burkina Faso</option><option value="BI">Burundi</option><option value="KH">Cambodia</option><option value="CM">Cameroon</option><option value="CA">Canada</option><option value="CV">Cape Verde</option><option value="BQ">Caribbean Netherlands</option><option value="KY">Cayman Islands</option><option value="CF">Central African Republic</option><option value="TD">Chad</option><option value="CL">Chile</option><option value="CN">China</option><option value="CX">Christmas Island</option><option value="CC">Cocos (Keeling) Islands</option><option value="CO">Colombia</option><option value="KM">Comoros</option><option value="CG">Congo (Brazzaville)</option><option value="CD">Congo (Kinshasa)</option><option value="CK">Cook Islands</option><option value="CR">Costa Rica</option><option value="HR">Croatia</option><option value="CU">Cuba</option><option value="CW">Curaçao</option><option value="CY">Cyprus</option><option value="CZ">Czech Republic</option><option value="DK">Denmark</option><option value="DJ">Djibouti</option><option value="DM">Dominica</option><option value="DO">Dominican Republic</option><option value="EC">Ecuador</option><option value="EG">Egypt</option><option value="SV">El Salvador</option><option value="GQ">Equatorial Guinea</option><option value="ER">Eritrea</option><option value="EE">Estonia</option><option value="ET">Ethiopia</option><option value="FK">Falkland Islands</option><option value="FO">Faroe Islands</option><option value="FJ">Fiji</option><option value="FI">Finland</option><option value="FR">France</option><option value="GF">French Guiana</option><option value="PF">French Polynesia</option><option value="TF">French Southern Territories</option><option value="GA">Gabon</option><option value="GM">Gambia</option><option value="GE">Georgia</option><option value="DE">Germany</option><option value="GH">Ghana</option><option value="GI">Gibraltar</option><option value="GR">Greece</option><option value="GL">Greenland</option><option value="GD">Grenada</option><option value="GP">Guadeloupe</option><option value="GU">Guam</option><option value="GT">Guatemala</option><option value="GG">Guernsey</option><option value="GN">Guinea</option><option value="GW">Guinea-Bissau</option><option value="GY">Guyana</option><option value="HT">Haiti</option><option value="HM">Heard Island and McDonald Islands</option><option value="HN">Honduras</option><option value="HK">Hong Kong S.A.R., China</option><option value="HU">Hungary</option><option value="IS">Iceland</option><option value="IN">India</option><option value="ID">Indonesia</option><option value="IR">Iran</option><option value="IQ">Iraq</option><option value="IE">Ireland</option><option value="IM">Isle of Man</option><option value="IL">Israel</option><option value="IT">Italy</option><option value="CI">Ivory Coast</option><option value="JM">Jamaica</option><option value="JP">Japan</option><option value="JE">Jersey</option><option value="JO">Jordan</option><option value="KZ">Kazakhstan</option><option value="KE">Kenya</option><option value="KI">Kiribati</option><option value="KW">Kuwait</option><option value="KG">Kyrgyzstan</option><option value="LA">Laos</option><option value="LV">Latvia</option><option value="LB">Lebanon</option><option value="LS">Lesotho</option><option value="LR">Liberia</option><option value="LY">Libya</option><option value="LI">Liechtenstein</option><option value="LT">Lithuania</option><option value="LU">Luxembourg</option><option value="MO">Macao S.A.R., China</option><option value="MK">Macedonia</option><option value="MG">Madagascar</option><option value="MW">Malawi</option><option value="MY">Malaysia</option><option value="MV">Maldives</option><option value="ML">Mali</option><option value="MT">Malta</option><option value="MH">Marshall Islands</option><option value="MQ">Martinique</option><option value="MR">Mauritania</option><option value="MU">Mauritius</option><option value="YT">Mayotte</option><option value="MX">Mexico</option><option value="FM">Micronesia</option><option value="MD">Moldova</option><option value="MC">Monaco</option><option value="MN">Mongolia</option><option value="ME">Montenegro</option><option value="MS">Montserrat</option><option value="MA">Morocco</option><option value="MZ">Mozambique</option><option value="MM">Myanmar</option><option value="NA">Namibia</option><option value="NR">Nauru</option><option value="NP">Nepal</option><option value="NL">Netherlands</option><option value="AN">Netherlands Antilles</option><option value="NC">New Caledonia</option><option value="NZ">New Zealand</option><option value="NI">Nicaragua</option><option value="NE">Niger</option><option value="NG">Nigeria</option><option value="NU">Niue</option><option value="NF">Norfolk Island</option><option value="MP">Northern Mariana Islands</option><option value="KP">North Korea</option><option value="NO">Norway</option><option value="OM">Oman</option><option value="PK">Pakistan</option><option value="PW">Palau</option><option value="PS">Palestinian Territory</option><option value="PA">Panama</option><option value="PG">Papua New Guinea</option><option value="PY">Paraguay</option><option value="PE">Peru</option><option value="PH">Philippines</option><option value="PN">Pitcairn</option><option value="PL">Poland</option><option value="PT">Portugal</option><option value="PR">Puerto Rico</option><option value="QA">Qatar</option><option value="RE">Reunion</option><option value="RO">Romania</option><option value="RU">Russia</option><option value="RW">Rwanda</option><option value="BL">Saint Barthélemy</option><option value="SH">Saint Helena</option><option value="KN">Saint Kitts and Nevis</option><option value="LC">Saint Lucia</option><option value="MF">Saint Martin (French part)</option><option value="PM">Saint Pierre and Miquelon</option><option value="VC">Saint Vincent and the Grenadines</option><option value="WS">Samoa</option><option value="SM">San Marino</option><option value="ST">Sao Tome and Principe</option><option value="SA">Saudi Arabia</option><option value="SN">Senegal</option><option value="RS">Serbia</option><option value="SC">Seychelles</option><option value="SL">Sierra Leone</option><option value="SG">Singapore</option><option value="SX">Sint Maarten</option><option value="SK">Slovakia</option><option value="SI">Slovenia</option><option value="SB">Solomon Islands</option><option value="SO">Somalia</option><option value="ZA">South Africa</option><option value="GS">South Georgia and the South Sandwich Islands</option><option value="KR">South Korea</option><option value="SS">South Sudan</option><option value="ES">Spain</option><option value="LK">Sri Lanka</option><option value="SD">Sudan</option><option value="SR">Suriname</option><option value="SJ">Svalbard and Jan Mayen</option><option value="SZ">Swaziland</option><option value="SE">Sweden</option><option value="CH">Switzerland</option><option value="SY">Syria</option><option value="TW">Taiwan</option><option value="TJ">Tajikistan</option><option value="TZ">Tanzania</option><option value="TH">Thailand</option><option value="TL">Timor-Leste</option><option value="TG">Togo</option><option value="TK">Tokelau</option><option value="TO">Tonga</option><option value="TT">Trinidad and Tobago</option><option value="TN">Tunisia</option><option value="TR">Turkey</option><option value="TM">Turkmenistan</option><option value="TC">Turks and Caicos Islands</option><option value="TV">Tuvalu</option><option value="VI">U.S. Virgin Islands</option><option value="UG">Uganda</option><option value="UA">Ukraine</option><option value="AE">United Arab Emirates</option><option value="GB">United Kingdom</option><option value="US">United States</option><option value="UM">United States Minor Outlying Islands</option><option value="UY">Uruguay</option><option value="UZ">Uzbekistan</option><option value="VU">Vanuatu</option><option value="VA">Vatican</option><option value="VE">Venezuela</option><option value="VN">Vietnam</option><option value="WF">Wallis and Futuna</option><option value="EH">Western Sahara</option><option value="YE">Yemen</option><option value="ZM">Zambia</option><option value="ZW">Zimbabwe</option></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 form-item webform-component webform-component-select webform-component--where-did-you-hear-about-us">
                                            <label class="element-invisible" for="edit-submitted-where-did-you-hear-about-us">Where did you hear about us? </label>
                                            <select class="form-control form-select" id="edit-submitted-where-did-you-hear-about-us" name="submitted[where_did_you_hear_about_us]"><option value="" selected="selected">WHERE DID YOU HEAR ABOUT US?</option><option value="article_blog">Article/Blog</option><option value="colleague">Colleague</option><option value="customer_referral">Customer Referral</option><option value="email">Email</option><option value="event">Event</option><option value="market_analyst">Market Analyst</option><option value="partner">Partner</option><option value="press_release">Press Release</option><option value="search_engine">Search Engine</option><option value="social_media">Social Media</option><option value="speaker_session">Speaker Session</option><option value="user_group">User Group</option><option value="webinar">Webinar</option></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 form-item webform-component webform-component-textfield webform-component--application-platforms">
                                            <label for="edit-submitted-application-platforms">Current application platforms, code language and Cloud status?  </label>
                                            <input class="form-control form-text" type="text" id="edit-submitted-application-platforms" name="submitted[application_platforms]" value="" size="60" maxlength="128">
                                        </div>
                                        <div class="col-md-12 col-sm-12 form-item webform-component webform-component-textfield webform-component--system-and-desired-state">
                                            <label for="edit-submitted-system-and-desired-state">Current system state and desired state?  </label>
                                            <input class="form-control form-text" type="text" id="edit-submitted-system-and-desired-state" name="submitted[system_and_desired_state]" value="" size="60" maxlength="128">
                                        </div>
                                        <div class="col-md-12 col-sm-12 form-item webform-component webform-component-textarea webform-component--tell-us-about-specific-transformation-challenges">
                                            <label for="edit-submitted-tell-us-about-specific-transformation-challenges">Tell us about specific transformation challenges.  </label>
                                            <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea class="form-control form-textarea" id="edit-submitted-tell-us-about-specific-transformation-challenges" name="submitted[tell_us_about_specific_transformation_challenges]" cols="60" rows="5"></textarea>
                                                <div class="grippie"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="details[sid]">
                                <input type="hidden" name="details[page_num]" value="1">
                                <input type="hidden" name="details[page_count]" value="1">
                                <input type="hidden" name="details[finished]" value="0">
                                <input type="hidden" name="form_build_id" value="form-WVeqchywOIqhXEd5h2uZxkUiIr5OHZh5IIp8MduqUnU">
                                <input type="hidden" name="form_id" value="webform_client_form_1">
                                <input type="hidden" name="webform_ajax_wrapper_id" value="webform-ajax-wrapper-1">
                                <div class="form-actions">
                                    <input class="webform-submit button-primary form-submit ajax-processed GoogleAnalyticsET-processed" id="edit-webform-ajax-submit-1" type="submit" name="op" value="SEND">
                                </div>
                            </div>
                        </form>
                    </div>                
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
