---
title: Welcome to Middleman
---


<div>
  <% data.Test.Article.each do |id, article| %>
	<% if !article.listing_image.empty? %>
	  <%= image_tag article.listing_image.url, alt: 'logo', class: 'img-responsive' %>
	<% end %>
	<hr>
    <h2><%= article["title"] %></h2><%= article["author"] %><br><%= article["date"].strftime('%b %e') %><br><%= article["body"] %>
	<% if !article.image.empty? %>
	  <%= image_tag article.image.url, alt: 'logo', class: 'img-responsive' %>
	<% end %>
	<hr>
  
  <% end %>
</div>
