---
title: Welcome to SmartShift
---

<div class="downarrow" style="display: block;">
    <a href="javascript:void(0)">
        <%= image_tag 'arrow_down.png' %>
    </a>
</div>

<div id="slide-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <% link_to '/' ,  :class => 'navbar-brand' do %>
            <%= image_tag 'logo.png' %>
            <% end %>

        </div>
		<%= partial "/layouts/partials/head" %>
    </div>
</div>

<div class="container-main">
    <div class="region region-content">
        <div id="block-system-main" class="block block-system">
            <div class="content">
                <div class="panel-flexible clearfix">
                    <div class="panel-flexible-inside panels-flexible-10-inside">
                        <div class="panels-flexible-region panels-flexible-region-10-solutions_services_region panels-flexible-region-first panels-flexible-region-last ">
                            <div class="inside panels-flexible-region-inside panels-flexible-region-10-solutions_services_region-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                                <div class="panel-pane pane-panels-mini pane-animations page-content" id="page-content">
                                    <div class="pane-content">
                                        <div class="panel-flexible panels-flexible-47 clearfix" id="mini-panel-animations">
                                            <div class="panel-flexible-inside panels-flexible-47-inside">
                                                <div class="panels-flexible-row panels-flexible-row-47-main-row panels-flexible-row-first clearfix">
                                                    <div class="inside panels-flexible-row-inside panels-flexible-row-47-main-row-inside panels-flexible-row-inside-first clearfix">
                                                        <div class="panels-flexible-region panels-flexible-region-47-center panels-flexible-region-first panels-flexible-region-last textcontainer">
                                                            <div class="inside panels-flexible-region-inside panels-flexible-region-47-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                                                                <div class="">      
                                                                    <div class="panel-pane pane-dsc texts" style="margin-top: -50px; opacity: 0;">
                                                                        <div class="pane-content">
                                                                            <h1 class="first">Leading the <span>enterprise software management</span> revolution.</h1>
                                                                            <div class="small_h2">Through our innovation in automation, we have radically changed the way you transform and manage your enterprise systems.</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel-pane pane-dsc texts style2" style="margin-top: -50px; opacity: 0;">
                                                                        <div class="pane-content">
                                                                            <h2 class="big">Your enterprise portfolio is a challenge to manage and maintain:</h2>
                                                                            <div id="sixa6" class="home-slide-content">
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle1.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">High costs</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle2.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">Business risks</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle3.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">Long timelines</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle4.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">Security issues</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle5.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">Degrading quality</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg">
                                                                                        <%= image_tag 'circle6.png' %>
                                                                                    </div>
                                                                                    <div class="htitle">Aging infrastructure</div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel-pane pane-dsc texts" style="margin-top: -50px; opacity: 0;">
                                                                        <div class="pane-content">
                                                                            <h2 class="screen-wdth">smartShift’s unique, <span>patented automation technology</span> will help you dramatically reduce the risks, costs, quality issues and cycle times (from years to weeks) associated with <span>complex IT transformations.</span></h2>  
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel-pane pane-dsc texts" style="margin-top: -50px; opacity: 0;">
                                                                        <div class="pane-content">
                                                                            <h2 class="big">We help organizations like yours <span>optimize customized systems</span> with a variety of transformations, including on-premise to cloud, relational data to big data and platform-to-platform.</h2>  
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel-pane pane-dsc texts style2" style="margin-top: -50px; opacity: 0;">
                                                                        <div class="pane-content">
                                                                            <h2 class="screen-5">We offer our customers service-level assurance that their code and configuration will be:</h2>
                                                                            <div id="hexa5" class="home-slide-content">
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg"><%= image_tag 'poly1.png' %></div>
                                                                                    <div class="htitle">Secure</div>
                                                                                    <div class="hdesc">Free from known issues in the code base</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg"><%= image_tag 'poly2.png' %></div>
                                                                                    <div class="htitle">Performing</div>
                                                                                    <div class="hdesc">In compliance with industry and platform best practices</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg"><%= image_tag 'poly3.png' %></div>
                                                                                    <div class="htitle">Standard</div>
                                                                                    <div class="hdesc">Aligned to conventions and optimized for maintenance ease </div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg"><%= image_tag 'poly4.png' %></div>
                                                                                    <div class="htitle">Compliant</div>
                                                                                    <div class="hdesc">Always compatible with vendor versions and upgrades</div>
                                                                                </div>
                                                                                <div class="hexa" style="opacity: 1; transform: scale(1, 1);">
                                                                                    <div class="himg"><%= image_tag 'poly5.png' %></div>
                                                                                    <div class="htitle">Portable</div>
                                                                                    <div class="hdesc">Designed to easily move between platforms and configurations</div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel-pane pane-dsc texts dark" style="margin-top: 0px; opacity: 1;">
                                                                        <div class="pane-content">
                                                                            <h2 class="screen-wdth">Whatever challenges your enterprise is facing, smartShift’s technology-enabled services and expert team will <span>transform your enterprise rapidly, predictably, and accurately.</span></h2>  
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panels-flexible-row panels-flexible-row-47-1 panels-flexible-row-last clearfix ">
                                                    <div class="inside panels-flexible-row-inside panels-flexible-row-47-1-inside panels-flexible-row-inside-last clearfix">
                                                        <div class="panels-flexible-region panels-flexible-region-47-animation panels-flexible-region-first panels-flexible-region-last wrapper fixedSection hidden-xs">
                                                            <div class="inside panels-flexible-region-inside panels-flexible-region-47-animation-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                                                                <div class="">      
                                                                    <div class="panel-pane pane-dsc row clearfix" id="fixedbg">
                                                                        <div class="pane-content">
                                                                            <div class="col-md-12 column">
                                                                                <div id="bannerarea_home1" class="row clearfix slide" style="height: 623px;">
                                                                                    <div class="arrowbg"></div>
                                                                                </div>
                                                                                <div id="bannerarea_home2" class="row clearfix slide" style="height: 623px;">&nbsp;</div>
                                                                                <div id="bannerarea_home3" class="row clearfix slide" style="height: 623px;">&nbsp;</div>
                                                                                <div id="bannerarea_home4" class="row clearfix slide" style="height: 623px;">&nbsp;</div>
                                                                                <div id="bannerarea_home5" class="row clearfix slide" style="height: 623px;">&nbsp;</div>
                                                                                <div id="bannerarea_home6" class="row clearfix slide" style="height: 623px;">&nbsp;</div>
                                                                                <div id="bannerarea_home7" class="row clearfix slide" style="height: 415px;">&nbsp;</div>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-separator"></div>
                                <div class="panel-pane pane-dsc row clearfix" id="gcsc_2col">
                                    <div class="pane-content">
                                        <div class="col-md-6 column whitecol nopadding">
                                            <div class="getclean">
                                                <h2>Get clean</h2>
                                                <ul>
                                                    <li>Lower your enterprise TCO</li>
                                                    <li>Modernize core systems and optimize application performance</li>
                                                    <li>Retire old and expensive systems and hardware</li>
                                                    <li>Consolidate and integrate for mergers and acquisitions</li>
                                                    <li>Migrate to the cloud</li>
                                                    <li>Leverage big data</li>
                                                </ul>
                                                <a class="readmore_style1" href="http://www.smartshifttech.com/node/128">EXPLORE OUR SOLUTIONS</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="col-md-6 column bluecol nopadding">
                                            <div class="stayclean">
                                                <h2>Stay clean</h2>
                                                <ul>
                                                    <li>Reduce "lights-on" IT resource burden</li>
                                                    <li>Maintain portability for your key systems</li>
                                                    <li>Migrate to customized, more efficient infrastructure</li>
                                                    <li>Ensure ongoing standards compliance</li>
                                                    <li>Improve development team effectiveness</li>
                                                </ul>
                                                <a class="readmore_style4" href="http://www.smartshifttech.com/node/129">LEARN MORE</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-separator"></div>
                                <div class="panel-pane pane-panels-mini pane-customer-slider">
                                <%= partial "/layouts/partials/clients_slider" %>	   
                                <div class="panel-separator"></div>
                                <%= partial "/layouts/partials/become_part" %>	
                                <div class="panel-separator"></div>
                                <%= partial "/layouts/partials/keep_up_to_date" %>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<%= partial "/layouts/partials/footer" %>	
	
</div>
