---
title: Our Solutions
layout: article
link: solution
---



<div class="container-main">
	<% data.SmartShift.Landing.each do |id, article| %>
		<% if article.title == 'Our Solutions' %>
			<div class="view-content">
				<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
					<div class="views-field views-field-nothing">        
						<span class="field-content">                
							<div id="" class="banner-area">
								<div id="" class="row clearfix">
									<div class="bannerarea-img">
										<% if !article.bannerImage.empty? %>
											<%= image_tag article.bannerImage.url %>
										<% end %>
									</div>
									<div class="banner-content">
										<div class="col-md-12 column">
											<div class="home-slide" style="height: 433px;">
												<div>
													<div class="banner-title"><%= article["bannerTitle"] %></div>
													<h1 class="banner-sub-title"><%= article["bannerSubTitle"] %></h1>
												</div>
											</div>
										</div>                    
									</div>
								</div>
							</div>
						</span>  
					</div>  
				</div>
			</div>
	
			<div class="panel-pane pane-views pane-cms-page row clearfix" id="about_desc">
				<div class="pane-content">
					<div class="view view-cms-page view-id-cms_page view-display-id-block_1 view-dom-id-904172ffba26e6ce050a5451f3b54f3c">
						<div class="view-content">
							<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
								<div class="views-field views-field-body">        
									<div class="field-content">                    
										<div class="col-md-12 column nopadding html_desc">
											<div class="about_slide">
												<div class="about_slide solutions-content">
													<%= article["description"] %>
												</div>
											</div>
										</div>
									</div>  
								</div>  
							</div>
						</div>
					</div>  
				</div>
			</div>
			<div class="panel-pane pane-views pane-download-pdfs download-pdf-area clearfix">
				<h4 class="pane-title">Download Case Studies</h4>
				<div class="pane-content">
					<div class="view view-download-pdfs view-id-download_pdfs view-display-id-block view-dom-id-f306a3c422041b25e0980955aa7d4254">
						<div class="view-content">
							<% data.SmartShift.CaseStudy.each do |id, casestudy| %>
								<% if casestudy.landingPage == 'Our Solutions' %>
								  <div class="item active">
									<div class="circle_slider_text_wrapper">
										<div class="views-row views-row-1 views-row-odd views-row-first col-md-4 col-sm-4 col-lg-4">
											<div class="views-field views-field-nothing">        
												<span class="field-content">
													<a href="<%= casestudy.file.url %>" class="btn btn-success btn-block"><strong><%= casestudy["title"] %></strong></a>
												</span>  
											</div>  
										</div>
								    </div>    
								  </div>
								<% end %>
							<% end %>
						</div>
					</div>  
				</div>
			</div>			
		<% end %>
	<% end %>
	<%= partial "/layouts/partials/become_part" %>	
	<%= partial "/layouts/partials/keep_up_to_date" %>	
	<%= partial "/layouts/partials/footer" %>	
</div>
